/* line 7, ../sass/metrics.scss */
.m-1 {
  margin: 1px;
}

/* line 11, ../sass/metrics.scss */
.m-10 {
  margin: 10px;
}

/* line 15, ../sass/metrics.scss */
.m-11 {
  margin: 11px;
}

/* line 20, ../sass/metrics.scss */
.mt-1 {
  margin-top: 1px;
}

/* line 24, ../sass/metrics.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 28, ../sass/metrics.scss */
.mt-11 {
  margin-top: 11px;
}

/* line 33, ../sass/metrics.scss */
.mb-1 {
  margin-bottom: 1px;
}

/* line 37, ../sass/metrics.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 41, ../sass/metrics.scss */
.mb-11 {
  margin-bottom: 11px;
}

/* line 46, ../sass/metrics.scss */
.ml-1 {
  margin-left: 1px;
}

/* line 50, ../sass/metrics.scss */
.ml-10 {
  margin-left: 10px;
}

/* line 54, ../sass/metrics.scss */
.ml-11 {
  margin-left: 11px;
}

/* line 59, ../sass/metrics.scss */
.mr-1 {
  margin-right: 1px;
}

/* line 63, ../sass/metrics.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 67, ../sass/metrics.scss */
.mr-11 {
  margin-right: 11px;
}

/* line 72, ../sass/metrics.scss */
.p-1 {
  padding: 1px;
}

/* line 76, ../sass/metrics.scss */
.p-10 {
  padding: 10px;
}

/* line 80, ../sass/metrics.scss */
.p-11 {
  padding: 11px;
}

/* line 85, ../sass/metrics.scss */
.pt-1 {
  padding-top: 1px;
}

/* line 89, ../sass/metrics.scss */
.pt-10 {
  padding-top: 10px;
}

/* line 93, ../sass/metrics.scss */
.pt-11 {
  padding-top: 11px;
}

/* line 98, ../sass/metrics.scss */
.pr-1 {
  padding-right: 1px;
}

/* line 102, ../sass/metrics.scss */
.pr-10 {
  padding-right: 10px;
}

/* line 106, ../sass/metrics.scss */
.pr-11 {
  padding-right: 11px;
}

/* line 111, ../sass/metrics.scss */
.pb-1 {
  padding-bottom: 1px;
}

/* line 115, ../sass/metrics.scss */
.pb-10 {
  padding-bottom: 10px;
}

/* line 119, ../sass/metrics.scss */
.pb-11 {
  padding-bottom: 11px;
}

/* line 124, ../sass/metrics.scss */
.pl-1 {
  padding-left: 1px;
}

/* line 128, ../sass/metrics.scss */
.pl-10 {
  padding-left: 10px;
}

/* line 132, ../sass/metrics.scss */
.pl-11 {
  padding-left: 11px;
}

/* line 7, ../sass/metrics.scss */
.m-2 {
  margin: 2px;
}

/* line 11, ../sass/metrics.scss */
.m-20 {
  margin: 20px;
}

/* line 15, ../sass/metrics.scss */
.m-22 {
  margin: 22px;
}

/* line 20, ../sass/metrics.scss */
.mt-2 {
  margin-top: 2px;
}

/* line 24, ../sass/metrics.scss */
.mt-20 {
  margin-top: 20px;
}

/* line 28, ../sass/metrics.scss */
.mt-22 {
  margin-top: 22px;
}

/* line 33, ../sass/metrics.scss */
.mb-2 {
  margin-bottom: 2px;
}

/* line 37, ../sass/metrics.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 41, ../sass/metrics.scss */
.mb-22 {
  margin-bottom: 22px;
}

/* line 46, ../sass/metrics.scss */
.ml-2 {
  margin-left: 2px;
}

/* line 50, ../sass/metrics.scss */
.ml-20 {
  margin-left: 20px;
}

/* line 54, ../sass/metrics.scss */
.ml-22 {
  margin-left: 22px;
}

/* line 59, ../sass/metrics.scss */
.mr-2 {
  margin-right: 2px;
}

/* line 63, ../sass/metrics.scss */
.mr-20 {
  margin-right: 20px;
}

/* line 67, ../sass/metrics.scss */
.mr-22 {
  margin-right: 22px;
}

/* line 72, ../sass/metrics.scss */
.p-2 {
  padding: 2px;
}

/* line 76, ../sass/metrics.scss */
.p-20 {
  padding: 20px;
}

/* line 80, ../sass/metrics.scss */
.p-22 {
  padding: 22px;
}

/* line 85, ../sass/metrics.scss */
.pt-2 {
  padding-top: 2px;
}

/* line 89, ../sass/metrics.scss */
.pt-20 {
  padding-top: 20px;
}

/* line 93, ../sass/metrics.scss */
.pt-22 {
  padding-top: 22px;
}

/* line 98, ../sass/metrics.scss */
.pr-2 {
  padding-right: 2px;
}

/* line 102, ../sass/metrics.scss */
.pr-20 {
  padding-right: 20px;
}

/* line 106, ../sass/metrics.scss */
.pr-22 {
  padding-right: 22px;
}

/* line 111, ../sass/metrics.scss */
.pb-2 {
  padding-bottom: 2px;
}

/* line 115, ../sass/metrics.scss */
.pb-20 {
  padding-bottom: 20px;
}

/* line 119, ../sass/metrics.scss */
.pb-22 {
  padding-bottom: 22px;
}

/* line 124, ../sass/metrics.scss */
.pl-2 {
  padding-left: 2px;
}

/* line 128, ../sass/metrics.scss */
.pl-20 {
  padding-left: 20px;
}

/* line 132, ../sass/metrics.scss */
.pl-22 {
  padding-left: 22px;
}

/* line 7, ../sass/metrics.scss */
.m-3 {
  margin: 3px;
}

/* line 11, ../sass/metrics.scss */
.m-30 {
  margin: 30px;
}

/* line 15, ../sass/metrics.scss */
.m-33 {
  margin: 33px;
}

/* line 20, ../sass/metrics.scss */
.mt-3 {
  margin-top: 3px;
}

/* line 24, ../sass/metrics.scss */
.mt-30 {
  margin-top: 30px;
}

/* line 28, ../sass/metrics.scss */
.mt-33 {
  margin-top: 33px;
}

/* line 33, ../sass/metrics.scss */
.mb-3 {
  margin-bottom: 3px;
}

/* line 37, ../sass/metrics.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 41, ../sass/metrics.scss */
.mb-33 {
  margin-bottom: 33px;
}

/* line 46, ../sass/metrics.scss */
.ml-3 {
  margin-left: 3px;
}

/* line 50, ../sass/metrics.scss */
.ml-30 {
  margin-left: 30px;
}

/* line 54, ../sass/metrics.scss */
.ml-33 {
  margin-left: 33px;
}

/* line 59, ../sass/metrics.scss */
.mr-3 {
  margin-right: 3px;
}

/* line 63, ../sass/metrics.scss */
.mr-30 {
  margin-right: 30px;
}

/* line 67, ../sass/metrics.scss */
.mr-33 {
  margin-right: 33px;
}

/* line 72, ../sass/metrics.scss */
.p-3 {
  padding: 3px;
}

/* line 76, ../sass/metrics.scss */
.p-30 {
  padding: 30px;
}

/* line 80, ../sass/metrics.scss */
.p-33 {
  padding: 33px;
}

/* line 85, ../sass/metrics.scss */
.pt-3 {
  padding-top: 3px;
}

/* line 89, ../sass/metrics.scss */
.pt-30 {
  padding-top: 30px;
}

/* line 93, ../sass/metrics.scss */
.pt-33 {
  padding-top: 33px;
}

/* line 98, ../sass/metrics.scss */
.pr-3 {
  padding-right: 3px;
}

/* line 102, ../sass/metrics.scss */
.pr-30 {
  padding-right: 30px;
}

/* line 106, ../sass/metrics.scss */
.pr-33 {
  padding-right: 33px;
}

/* line 111, ../sass/metrics.scss */
.pb-3 {
  padding-bottom: 3px;
}

/* line 115, ../sass/metrics.scss */
.pb-30 {
  padding-bottom: 30px;
}

/* line 119, ../sass/metrics.scss */
.pb-33 {
  padding-bottom: 33px;
}

/* line 124, ../sass/metrics.scss */
.pl-3 {
  padding-left: 3px;
}

/* line 128, ../sass/metrics.scss */
.pl-30 {
  padding-left: 30px;
}

/* line 132, ../sass/metrics.scss */
.pl-33 {
  padding-left: 33px;
}

/* line 7, ../sass/metrics.scss */
.m-4 {
  margin: 4px;
}

/* line 11, ../sass/metrics.scss */
.m-40 {
  margin: 40px;
}

/* line 15, ../sass/metrics.scss */
.m-44 {
  margin: 44px;
}

/* line 20, ../sass/metrics.scss */
.mt-4 {
  margin-top: 4px;
}

/* line 24, ../sass/metrics.scss */
.mt-40 {
  margin-top: 40px;
}

/* line 28, ../sass/metrics.scss */
.mt-44 {
  margin-top: 44px;
}

/* line 33, ../sass/metrics.scss */
.mb-4 {
  margin-bottom: 4px;
}

/* line 37, ../sass/metrics.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 41, ../sass/metrics.scss */
.mb-44 {
  margin-bottom: 44px;
}

/* line 46, ../sass/metrics.scss */
.ml-4 {
  margin-left: 4px;
}

/* line 50, ../sass/metrics.scss */
.ml-40 {
  margin-left: 40px;
}

/* line 54, ../sass/metrics.scss */
.ml-44 {
  margin-left: 44px;
}

/* line 59, ../sass/metrics.scss */
.mr-4 {
  margin-right: 4px;
}

/* line 63, ../sass/metrics.scss */
.mr-40 {
  margin-right: 40px;
}

/* line 67, ../sass/metrics.scss */
.mr-44 {
  margin-right: 44px;
}

/* line 72, ../sass/metrics.scss */
.p-4 {
  padding: 4px;
}

/* line 76, ../sass/metrics.scss */
.p-40 {
  padding: 40px;
}

/* line 80, ../sass/metrics.scss */
.p-44 {
  padding: 44px;
}

/* line 85, ../sass/metrics.scss */
.pt-4 {
  padding-top: 4px;
}

/* line 89, ../sass/metrics.scss */
.pt-40 {
  padding-top: 40px;
}

/* line 93, ../sass/metrics.scss */
.pt-44 {
  padding-top: 44px;
}

/* line 98, ../sass/metrics.scss */
.pr-4 {
  padding-right: 4px;
}

/* line 102, ../sass/metrics.scss */
.pr-40 {
  padding-right: 40px;
}

/* line 106, ../sass/metrics.scss */
.pr-44 {
  padding-right: 44px;
}

/* line 111, ../sass/metrics.scss */
.pb-4 {
  padding-bottom: 4px;
}

/* line 115, ../sass/metrics.scss */
.pb-40 {
  padding-bottom: 40px;
}

/* line 119, ../sass/metrics.scss */
.pb-44 {
  padding-bottom: 44px;
}

/* line 124, ../sass/metrics.scss */
.pl-4 {
  padding-left: 4px;
}

/* line 128, ../sass/metrics.scss */
.pl-40 {
  padding-left: 40px;
}

/* line 132, ../sass/metrics.scss */
.pl-44 {
  padding-left: 44px;
}

/* line 7, ../sass/metrics.scss */
.m-5 {
  margin: 5px;
}

/* line 11, ../sass/metrics.scss */
.m-50 {
  margin: 50px;
}

/* line 15, ../sass/metrics.scss */
.m-55 {
  margin: 55px;
}

/* line 20, ../sass/metrics.scss */
.mt-5 {
  margin-top: 5px;
}

/* line 24, ../sass/metrics.scss */
.mt-50 {
  margin-top: 50px;
}

/* line 28, ../sass/metrics.scss */
.mt-55 {
  margin-top: 55px;
}

/* line 33, ../sass/metrics.scss */
.mb-5 {
  margin-bottom: 5px;
}

/* line 37, ../sass/metrics.scss */
.mb-50 {
  margin-bottom: 50px;
}

/* line 41, ../sass/metrics.scss */
.mb-55 {
  margin-bottom: 55px;
}

/* line 46, ../sass/metrics.scss */
.ml-5 {
  margin-left: 5px;
}

/* line 50, ../sass/metrics.scss */
.ml-50 {
  margin-left: 50px;
}

/* line 54, ../sass/metrics.scss */
.ml-55 {
  margin-left: 55px;
}

/* line 59, ../sass/metrics.scss */
.mr-5 {
  margin-right: 5px;
}

/* line 63, ../sass/metrics.scss */
.mr-50 {
  margin-right: 50px;
}

/* line 67, ../sass/metrics.scss */
.mr-55 {
  margin-right: 55px;
}

/* line 72, ../sass/metrics.scss */
.p-5 {
  padding: 5px;
}

/* line 76, ../sass/metrics.scss */
.p-50 {
  padding: 50px;
}

/* line 80, ../sass/metrics.scss */
.p-55 {
  padding: 55px;
}

/* line 85, ../sass/metrics.scss */
.pt-5 {
  padding-top: 5px;
}

/* line 89, ../sass/metrics.scss */
.pt-50 {
  padding-top: 50px;
}

/* line 93, ../sass/metrics.scss */
.pt-55 {
  padding-top: 55px;
}

/* line 98, ../sass/metrics.scss */
.pr-5 {
  padding-right: 5px;
}

/* line 102, ../sass/metrics.scss */
.pr-50 {
  padding-right: 50px;
}

/* line 106, ../sass/metrics.scss */
.pr-55 {
  padding-right: 55px;
}

/* line 111, ../sass/metrics.scss */
.pb-5 {
  padding-bottom: 5px;
}

/* line 115, ../sass/metrics.scss */
.pb-50 {
  padding-bottom: 50px;
}

/* line 119, ../sass/metrics.scss */
.pb-55 {
  padding-bottom: 55px;
}

/* line 124, ../sass/metrics.scss */
.pl-5 {
  padding-left: 5px;
}

/* line 128, ../sass/metrics.scss */
.pl-50 {
  padding-left: 50px;
}

/* line 132, ../sass/metrics.scss */
.pl-55 {
  padding-left: 55px;
}

/* line 7, ../sass/metrics.scss */
.m-6 {
  margin: 6px;
}

/* line 11, ../sass/metrics.scss */
.m-60 {
  margin: 60px;
}

/* line 15, ../sass/metrics.scss */
.m-66 {
  margin: 66px;
}

/* line 20, ../sass/metrics.scss */
.mt-6 {
  margin-top: 6px;
}

/* line 24, ../sass/metrics.scss */
.mt-60 {
  margin-top: 60px;
}

/* line 28, ../sass/metrics.scss */
.mt-66 {
  margin-top: 66px;
}

/* line 33, ../sass/metrics.scss */
.mb-6 {
  margin-bottom: 6px;
}

/* line 37, ../sass/metrics.scss */
.mb-60 {
  margin-bottom: 60px;
}

/* line 41, ../sass/metrics.scss */
.mb-66 {
  margin-bottom: 66px;
}

/* line 46, ../sass/metrics.scss */
.ml-6 {
  margin-left: 6px;
}

/* line 50, ../sass/metrics.scss */
.ml-60 {
  margin-left: 60px;
}

/* line 54, ../sass/metrics.scss */
.ml-66 {
  margin-left: 66px;
}

/* line 59, ../sass/metrics.scss */
.mr-6 {
  margin-right: 6px;
}

/* line 63, ../sass/metrics.scss */
.mr-60 {
  margin-right: 60px;
}

/* line 67, ../sass/metrics.scss */
.mr-66 {
  margin-right: 66px;
}

/* line 72, ../sass/metrics.scss */
.p-6 {
  padding: 6px;
}

/* line 76, ../sass/metrics.scss */
.p-60 {
  padding: 60px;
}

/* line 80, ../sass/metrics.scss */
.p-66 {
  padding: 66px;
}

/* line 85, ../sass/metrics.scss */
.pt-6 {
  padding-top: 6px;
}

/* line 89, ../sass/metrics.scss */
.pt-60 {
  padding-top: 60px;
}

/* line 93, ../sass/metrics.scss */
.pt-66 {
  padding-top: 66px;
}

/* line 98, ../sass/metrics.scss */
.pr-6 {
  padding-right: 6px;
}

/* line 102, ../sass/metrics.scss */
.pr-60 {
  padding-right: 60px;
}

/* line 106, ../sass/metrics.scss */
.pr-66 {
  padding-right: 66px;
}

/* line 111, ../sass/metrics.scss */
.pb-6 {
  padding-bottom: 6px;
}

/* line 115, ../sass/metrics.scss */
.pb-60 {
  padding-bottom: 60px;
}

/* line 119, ../sass/metrics.scss */
.pb-66 {
  padding-bottom: 66px;
}

/* line 124, ../sass/metrics.scss */
.pl-6 {
  padding-left: 6px;
}

/* line 128, ../sass/metrics.scss */
.pl-60 {
  padding-left: 60px;
}

/* line 132, ../sass/metrics.scss */
.pl-66 {
  padding-left: 66px;
}

/* line 7, ../sass/metrics.scss */
.m-7 {
  margin: 7px;
}

/* line 11, ../sass/metrics.scss */
.m-70 {
  margin: 70px;
}

/* line 15, ../sass/metrics.scss */
.m-77 {
  margin: 77px;
}

/* line 20, ../sass/metrics.scss */
.mt-7 {
  margin-top: 7px;
}

/* line 24, ../sass/metrics.scss */
.mt-70 {
  margin-top: 70px;
}

/* line 28, ../sass/metrics.scss */
.mt-77 {
  margin-top: 77px;
}

/* line 33, ../sass/metrics.scss */
.mb-7 {
  margin-bottom: 7px;
}

/* line 37, ../sass/metrics.scss */
.mb-70 {
  margin-bottom: 70px;
}

/* line 41, ../sass/metrics.scss */
.mb-77 {
  margin-bottom: 77px;
}

/* line 46, ../sass/metrics.scss */
.ml-7 {
  margin-left: 7px;
}

/* line 50, ../sass/metrics.scss */
.ml-70 {
  margin-left: 70px;
}

/* line 54, ../sass/metrics.scss */
.ml-77 {
  margin-left: 77px;
}

/* line 59, ../sass/metrics.scss */
.mr-7 {
  margin-right: 7px;
}

/* line 63, ../sass/metrics.scss */
.mr-70 {
  margin-right: 70px;
}

/* line 67, ../sass/metrics.scss */
.mr-77 {
  margin-right: 77px;
}

/* line 72, ../sass/metrics.scss */
.p-7 {
  padding: 7px;
}

/* line 76, ../sass/metrics.scss */
.p-70 {
  padding: 70px;
}

/* line 80, ../sass/metrics.scss */
.p-77 {
  padding: 77px;
}

/* line 85, ../sass/metrics.scss */
.pt-7 {
  padding-top: 7px;
}

/* line 89, ../sass/metrics.scss */
.pt-70 {
  padding-top: 70px;
}

/* line 93, ../sass/metrics.scss */
.pt-77 {
  padding-top: 77px;
}

/* line 98, ../sass/metrics.scss */
.pr-7 {
  padding-right: 7px;
}

/* line 102, ../sass/metrics.scss */
.pr-70 {
  padding-right: 70px;
}

/* line 106, ../sass/metrics.scss */
.pr-77 {
  padding-right: 77px;
}

/* line 111, ../sass/metrics.scss */
.pb-7 {
  padding-bottom: 7px;
}

/* line 115, ../sass/metrics.scss */
.pb-70 {
  padding-bottom: 70px;
}

/* line 119, ../sass/metrics.scss */
.pb-77 {
  padding-bottom: 77px;
}

/* line 124, ../sass/metrics.scss */
.pl-7 {
  padding-left: 7px;
}

/* line 128, ../sass/metrics.scss */
.pl-70 {
  padding-left: 70px;
}

/* line 132, ../sass/metrics.scss */
.pl-77 {
  padding-left: 77px;
}

/* line 7, ../sass/metrics.scss */
.m-8 {
  margin: 8px;
}

/* line 11, ../sass/metrics.scss */
.m-80 {
  margin: 80px;
}

/* line 15, ../sass/metrics.scss */
.m-88 {
  margin: 88px;
}

/* line 20, ../sass/metrics.scss */
.mt-8 {
  margin-top: 8px;
}

/* line 24, ../sass/metrics.scss */
.mt-80 {
  margin-top: 80px;
}

/* line 28, ../sass/metrics.scss */
.mt-88 {
  margin-top: 88px;
}

/* line 33, ../sass/metrics.scss */
.mb-8 {
  margin-bottom: 8px;
}

/* line 37, ../sass/metrics.scss */
.mb-80 {
  margin-bottom: 80px;
}

/* line 41, ../sass/metrics.scss */
.mb-88 {
  margin-bottom: 88px;
}

/* line 46, ../sass/metrics.scss */
.ml-8 {
  margin-left: 8px;
}

/* line 50, ../sass/metrics.scss */
.ml-80 {
  margin-left: 80px;
}

/* line 54, ../sass/metrics.scss */
.ml-88 {
  margin-left: 88px;
}

/* line 59, ../sass/metrics.scss */
.mr-8 {
  margin-right: 8px;
}

/* line 63, ../sass/metrics.scss */
.mr-80 {
  margin-right: 80px;
}

/* line 67, ../sass/metrics.scss */
.mr-88 {
  margin-right: 88px;
}

/* line 72, ../sass/metrics.scss */
.p-8 {
  padding: 8px;
}

/* line 76, ../sass/metrics.scss */
.p-80 {
  padding: 80px;
}

/* line 80, ../sass/metrics.scss */
.p-88 {
  padding: 88px;
}

/* line 85, ../sass/metrics.scss */
.pt-8 {
  padding-top: 8px;
}

/* line 89, ../sass/metrics.scss */
.pt-80 {
  padding-top: 80px;
}

/* line 93, ../sass/metrics.scss */
.pt-88 {
  padding-top: 88px;
}

/* line 98, ../sass/metrics.scss */
.pr-8 {
  padding-right: 8px;
}

/* line 102, ../sass/metrics.scss */
.pr-80 {
  padding-right: 80px;
}

/* line 106, ../sass/metrics.scss */
.pr-88 {
  padding-right: 88px;
}

/* line 111, ../sass/metrics.scss */
.pb-8 {
  padding-bottom: 8px;
}

/* line 115, ../sass/metrics.scss */
.pb-80 {
  padding-bottom: 80px;
}

/* line 119, ../sass/metrics.scss */
.pb-88 {
  padding-bottom: 88px;
}

/* line 124, ../sass/metrics.scss */
.pl-8 {
  padding-left: 8px;
}

/* line 128, ../sass/metrics.scss */
.pl-80 {
  padding-left: 80px;
}

/* line 132, ../sass/metrics.scss */
.pl-88 {
  padding-left: 88px;
}

/* line 7, ../sass/metrics.scss */
.m-9 {
  margin: 9px;
}

/* line 11, ../sass/metrics.scss */
.m-90 {
  margin: 90px;
}

/* line 15, ../sass/metrics.scss */
.m-99 {
  margin: 99px;
}

/* line 20, ../sass/metrics.scss */
.mt-9 {
  margin-top: 9px;
}

/* line 24, ../sass/metrics.scss */
.mt-90 {
  margin-top: 90px;
}

/* line 28, ../sass/metrics.scss */
.mt-99 {
  margin-top: 99px;
}

/* line 33, ../sass/metrics.scss */
.mb-9 {
  margin-bottom: 9px;
}

/* line 37, ../sass/metrics.scss */
.mb-90 {
  margin-bottom: 90px;
}

/* line 41, ../sass/metrics.scss */
.mb-99 {
  margin-bottom: 99px;
}

/* line 46, ../sass/metrics.scss */
.ml-9 {
  margin-left: 9px;
}

/* line 50, ../sass/metrics.scss */
.ml-90 {
  margin-left: 90px;
}

/* line 54, ../sass/metrics.scss */
.ml-99 {
  margin-left: 99px;
}

/* line 59, ../sass/metrics.scss */
.mr-9 {
  margin-right: 9px;
}

/* line 63, ../sass/metrics.scss */
.mr-90 {
  margin-right: 90px;
}

/* line 67, ../sass/metrics.scss */
.mr-99 {
  margin-right: 99px;
}

/* line 72, ../sass/metrics.scss */
.p-9 {
  padding: 9px;
}

/* line 76, ../sass/metrics.scss */
.p-90 {
  padding: 90px;
}

/* line 80, ../sass/metrics.scss */
.p-99 {
  padding: 99px;
}

/* line 85, ../sass/metrics.scss */
.pt-9 {
  padding-top: 9px;
}

/* line 89, ../sass/metrics.scss */
.pt-90 {
  padding-top: 90px;
}

/* line 93, ../sass/metrics.scss */
.pt-99 {
  padding-top: 99px;
}

/* line 98, ../sass/metrics.scss */
.pr-9 {
  padding-right: 9px;
}

/* line 102, ../sass/metrics.scss */
.pr-90 {
  padding-right: 90px;
}

/* line 106, ../sass/metrics.scss */
.pr-99 {
  padding-right: 99px;
}

/* line 111, ../sass/metrics.scss */
.pb-9 {
  padding-bottom: 9px;
}

/* line 115, ../sass/metrics.scss */
.pb-90 {
  padding-bottom: 90px;
}

/* line 119, ../sass/metrics.scss */
.pb-99 {
  padding-bottom: 99px;
}

/* line 124, ../sass/metrics.scss */
.pl-9 {
  padding-left: 9px;
}

/* line 128, ../sass/metrics.scss */
.pl-90 {
  padding-left: 90px;
}

/* line 132, ../sass/metrics.scss */
.pl-99 {
  padding-left: 99px;
}

/* line 7, ../sass/metrics.scss */
.m-10 {
  margin: 10px;
}

/* line 11, ../sass/metrics.scss */
.m-100 {
  margin: 100px;
}

/* line 15, ../sass/metrics.scss */
.m-110 {
  margin: 110px;
}

/* line 20, ../sass/metrics.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 24, ../sass/metrics.scss */
.mt-100 {
  margin-top: 100px;
}

/* line 28, ../sass/metrics.scss */
.mt-110 {
  margin-top: 110px;
}

/* line 33, ../sass/metrics.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 37, ../sass/metrics.scss */
.mb-100 {
  margin-bottom: 100px;
}

/* line 41, ../sass/metrics.scss */
.mb-110 {
  margin-bottom: 110px;
}

/* line 46, ../sass/metrics.scss */
.ml-10 {
  margin-left: 10px;
}

/* line 50, ../sass/metrics.scss */
.ml-100 {
  margin-left: 100px;
}

/* line 54, ../sass/metrics.scss */
.ml-110 {
  margin-left: 110px;
}

/* line 59, ../sass/metrics.scss */
.mr-10 {
  margin-right: 10px;
}

/* line 63, ../sass/metrics.scss */
.mr-100 {
  margin-right: 100px;
}

/* line 67, ../sass/metrics.scss */
.mr-110 {
  margin-right: 110px;
}

/* line 72, ../sass/metrics.scss */
.p-10 {
  padding: 10px;
}

/* line 76, ../sass/metrics.scss */
.p-100 {
  padding: 100px;
}

/* line 80, ../sass/metrics.scss */
.p-110 {
  padding: 110px;
}

/* line 85, ../sass/metrics.scss */
.pt-10 {
  padding-top: 10px;
}

/* line 89, ../sass/metrics.scss */
.pt-100 {
  padding-top: 100px;
}

/* line 93, ../sass/metrics.scss */
.pt-110 {
  padding-top: 110px;
}

/* line 98, ../sass/metrics.scss */
.pr-10 {
  padding-right: 10px;
}

/* line 102, ../sass/metrics.scss */
.pr-100 {
  padding-right: 100px;
}

/* line 106, ../sass/metrics.scss */
.pr-110 {
  padding-right: 110px;
}

/* line 111, ../sass/metrics.scss */
.pb-10 {
  padding-bottom: 10px;
}

/* line 115, ../sass/metrics.scss */
.pb-100 {
  padding-bottom: 100px;
}

/* line 119, ../sass/metrics.scss */
.pb-110 {
  padding-bottom: 110px;
}

/* line 124, ../sass/metrics.scss */
.pl-10 {
  padding-left: 10px;
}

/* line 128, ../sass/metrics.scss */
.pl-100 {
  padding-left: 100px;
}

/* line 132, ../sass/metrics.scss */
.pl-110 {
  padding-left: 110px;
}
