{% extends "layout/layout.twig" %}

{% block body %}
	<h1 class="title">Extensions</h1>
	<h2 class="subtitle">
	  A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
	</h2>
		
	<br/>

	<form method="POST">
		<div class="columns">
			<div class="column is-5 col-md-5">
			<p class="control">
			  <input class="input" type="text" required required="required" name="title" placeholder="Extension Title">
			</p>
			</div>
			<div class="column is-6 col-md-6">
			<p class="control">
			  <input class="input" type="text" required required="filename" name="filename" placeholder="extension.php">
			</p>
			</div>
			<div class="column is-1 col-md-1">
				<button class="button is-success">Add</button>
			</div>
		</div>
	</form>

	<hr>
	{% for key, val in extensions %}
	<article class="media">
			<div class="media-content">
				<div class="content">
				<p>
				  <div class="columns">
				  <div class="column is-11">
					<strong>{{key}}</strong>
					<p>{{val}}</p>
				  </div>
				  <div class="column is-1">
				  	<small><a href="?delete={{key}}" class="button is-primary is-outlined">Delete</a></small>
				  </div>
				  </div>
				</p>
			</div>
		</div>
		</article>
	{% endfor %}
	

{% endblock %}

{% block sidebar %}
	<h5 class="m-t-50"><strong>About</strong></h5>
	<p class="muted">Variables are key value pairs that can be used in the frontend of your site. They can be used to set the title
	of your site, specify an element class, path to a stylesheet or anything else.</p>
	<hr>
	<h5><strong>Note</strong></h5>
	<p class="muted">Variables are available globally throughout the frontend of your site, do <strong>not</strong> store sensitive information as variables.</p>
{% endblock %}