{% extends "layout/layout.twig"%}

{% block body %}

	<h1 class="title">Layouts</h1>
	<h2 class="subtitle">
	  Are used in pages and contain <strong>components</strong> as well as custom Javascript and CSS styling.
	</h2>
	

	{% if layouts == false %}
		<div class="notification">
		  <span class="delete"></span>
			<strong>No Layouts.</strong> You have no layouts here.
		</div>
	{% else %}
		{% for layout in layouts %}
		
		<article class="media">
			<div class="media-content">
				<div class="content">
				<p>
				  <div class="columns">
				  <div class="column is-9">
				  	<strong>{{layout.title}}</strong><br/>
				  	{% if layout.components != false %}
				  	This layout uses 
					{% for component in layout.components %}
						<code>{{component}}</code>{% if not loop.last %},{% else %}.{% endif %}
					{% endfor %}
				{% endif %}
				  </div>
				  <div class="column is-3">
				  	<small><a href="?delete={{layout.title}}" class="button is-danger is-outlined">Delete</a></small>
				  </div>
				  </div>
				</p>
			</div>
		</div>
		</article>

		{% endfor %}
	{% endif %}

{% endblock %}

{% block sidebar %}
	<p class="subtitle is-5">Create Layout</p>
	<a href="layouts/create" class="button is-success">Create Layout</a>
{% endblock %}