{% extends "layout/layout.twig" %}

{% block body %}
	<h1 class="title">Components</h1>
	<h2 class="subtitle">
	  Are custom blocks of HTML built in Twig, they contain variables of multiple data types. 
	</h2>
		
	<br/>

	{% if components == false %}
		<div class="notification">
		  <span class="delete"></span>
			<strong>No Components.</strong> You have no components here.
		</div>
	{% else %}
		{% for component in components %}
		
		<article class="media">
			<div class="media-content">
				<div class="content">
				<p>
				  <div class="columns">
				  <div class="column is-9">
				  	<strong>{{component.title}}</strong><br/>
				  	Uses the template <code>{{component.filename}}</code>
				  </div>
				  <div class="column is-3">
				  	<small><a href="?delete={{component.id}}" class="button is-primary is-outlined">Edit</a></small>
				  	<small><a href="?delete={{component.id}}" class="button is-danger is-outlined">Delete</a></small>
				  </div>
				  </div>
				</p>
			</div>
		</div>
		</article>

		{% endfor %}
	{% endif %}


	<!-- Modal -->
		<div class="modal hidden" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		  	<form method="POST" id="new-component">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title modal-input" id="myModalLabel">
			        <div class="columns">
			        	<div class="column is-6">
			        		<p class="control">
								<input name="title" class="no-input input" type="text" required placeholder="Component Title">
							</p>
			        	</div>
			        	<div class="column is-6">
			        		<p class="control">
								<input name="filename" class="no-input input" type="text" required placeholder="Template Filename (file.twig)">
							</p>
			        	</div>
			        </div>
			        </h4>
			      </div>
			      <hr>
			      <div class="modal-body">
			      <table class="table table-hover field-table"> 
					<thead> 
						<tr> 
							<th>Field Name</th> 
							<th>Type</th> 
							<th>Delete</th> 
						</tr> 
					</thead> 
					<tbody class="field-body"> 
						<tr class="field-first"> 
							<td>
								<p class="control">
									<input name="fieldname-0" type="text" class="input field-name" placeholder="Header" required>
								</p>
							</td> 
							<td>
							<span class="select">
								<select name="fieldtype-0" class="form-control field-value" required>
									<option value="input">Input</option>
									<option value="textarea">Textarea</option>
									<option value="boolean">Boolean</option>
									<option value="integer">Integer</option>
									<option value="comma">Comma Seperated Array</option>
								</select>
							</span>
							</td> 
							<td>
								<button class="remove-field button">Delete</button>
							</td>
						</tr>  
					</tbody> 
				</table>
			      </div>
			      <div class="modal-footer">
			      	<div class="columns">
			      		<div class="column is-10">
			      			<button type="button" class="add-field button is-info">Add Field</button>
			      			<p class="muted"><small>To add a comma seperated array, seperate the title and array with a vertical pipe |</small></p>
			      		</div>
			      		<div class="column is-2">
			      			<a class="button" href="#" data-target="#create" data-dismiss="modal">Cancel</a>
			        		<button type="submit" class="button is-success">Save changes</button>
			      		</div>
			      	</div>
			      </div>
			    </div>
		    </form>
		  </div>
		</div>


{% endblock %}

{% block sidebar %}
	<p class="subtitle is-5">Create Component</p>
	<a data-toggle="modal" href="#" data-target="#create" class="button is-success">Create Component</a>
	<hr>
	<h5><strong>Note</strong></h5>
	<p class="muted">Components are defined by their names, if you name two the same, they will overwrite each other.</p>
	<p class="muted">
	You cannot modify a component after it has been created as pages using this component can be modified unintentionally.</p>
{% endblock %}