{% extends "layout/login.twig" %}

{% block body %}
	<img class="mt-100 mb-30" src="{{system.evany.directory.base}}/resources/backend/img/tucan" width="80" alt="{{system.evany.title}}">
	<br/>
	<h4>Not logged in.</h4>
	<p>In order to use the {{system.evany.title}} backend, please <a href="login">login</a>.</p>


{% endblock %}