{% extends "layout/login.twig" %}

{% block body %}
	<img class="mt-100 mb-30" src="{{system.evany.directory.base}}/resources/backend/img/tucan.png" width="80" alt="Evany">
	<br/>
	<h4>Oh no!</h4>
	<p>This page does not exist, please <a href="/">go back</a>.</p>


{% endblock %}