{% extends "layout/login.twig" %}

{% block body %}
	<section class="hero is-fullheight is-success tucan-gradient is-bold">

	  <div class="hero-content">
	    <div class="container">
	      <h3 class="title is-2">
	        <a href="#">
	          <span class="icon is-large">
	            <i class="fa fa-arrows-v"></i>
	          </span>
	          Oh no! This page doesn't exist.
	        </a>
	      </h3>
	      <h4 class="subtitle is-4">Please <a style="color:#fff;" href="{{system.evany.directory.home}}">go back</a>.</h4>			
	    </div>
	  </div>
	</section>

{% endblock %}