{% extends "layout/layout.twig" %}

{% block body %}
	<h1><small>Dashboard</small></h1>
		
	<br/>

	<ul class="pages regular-list">
		<li>
			<h4><a href="#">A New Post</a></h4>
			<p>Some interesting content that this is summed up as a dead simply summary.</p>
			<hr/>
		</li>
	</ul>

{% endblock %}