@import "bulma";

@-webkit-keyframes backgroundWave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgroundWave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgroundWave { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body,html {
	background: #fff;
}

.hidden {
	display: none;
}

section.hero.is-success.is-bold.tucan-gradient,
.hero.is-info.is-bold {
	background: linear-gradient(270deg, #5274ca, #65cbdf, #509fd3);
	background-size: 600% 600%;
	-webkit-animation: backgroundWave 30s ease infinite;
	-moz-animation: backgroundWave 30s ease infinite;
	animation: backgroundWave 30s ease infinite;
}

.page-content {
	padding: 10px 20px;
}

.panel {
	background: #eee;
	padding: 10px;

	li {
		&.list-group-item {
			padding: 10px;
		    background: #fff;
		    border: 1px solid #ddd;
		    text-align: center;
		    text-indent: 20px;
		    margin-bottom: 10px;

		    button {
		    	float: right;
   				position: relative;
   				top: -3px;
		    }
		}
	}

	.panel-heading,
	.panel-footer {
		padding: 10px;
		background: #fff;
		border: 1px solid #ddd;
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}

	.panel-heading {
		margin-bottom: 10px;
	}

	.panel-footer {
		margin-top: 10px;
	}
}

.modal {

	&.hidden {
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		
		.modal-footer,
		.modal-dialog {
			bottom: -100%;
			
		}

		&:after {
			background: none;
		}
	}

	.modal-content {

		button.close {
			position: absolute;
			top: -32px;
			left: 0;
			z-index: 10;

			span {
				position: relative;
				top: -1px;
			}
		}
	}

	.modal-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px 30px;
		background: #fff;
		border-top: 1px solid #eee;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
	}

	.modal-dialog {
		outline: none;
		border-top: 1px solid #eee;
		background: #fff;
		padding: 20px 30px;
		padding-bottom: 75px;
		width: 100%;
		position: fixed;
		max-height: 100%;
		overflow: scroll;
		bottom: 0;
		left: 0;
		z-index: 10;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
	}

	&:after {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		background: rgba(0,0,0,0.6);
		width: 100%;
		height: 100%;
		content: '';
		pointer-events: none;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
	}

}

pre,
code {
	padding: 0!important;

	&.CodeFlask__code {
		background: #fff;
	}
}

p {
	&.endpoint-p {
		display: inline-block;
		padding-left: 14px;
		position: relative;
		margin-bottom: 15px;

		input {
			display: inline-block;
			text-indent: 5px;
		}
		&:before {
			content: '/';
			position: absolute;
			top: 7px;
			z-index: 2;


		}
	}
}

input,
textarea {
	&.no-input {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;

		&.endpoint-title {
			position: relative;
		}
	}

	&.textarea-min {
		min-height: 30px;
	}

}