$primary: #445A71;

html,
body {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open sans', sans-serif;

}

header {
	width: 100%;
	height: 50px;
	background: $primary;

	ul {
		margin: 0;
		padding: 0 25px;
		list-style-type: none;

		 li {
		 	vertical-align: middle;
		 	display: inline-block;
		 	float: left;
		 	margin: 0 10px;

		 	&.right {
		 		float: right;
		 	}

		 	a {
		 		line-height: 50px;
		 		color: #fff;
		 		font-size: 12px;
		 		text-decoration: none;

			 	&.logo {
			 		position: relative;
			 		top: 15px;
			 		font-weight: 100;
			 		font-size: 18px;
			 	}
			 }
		 }
	}
}

span.notification {
	display: block;
	background: #aaa;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;

	&.error {
		background: #e74c3c;
	}

	&.success {
		background: #2ecc71;
	}

	&.hidden {
		display: none;
	}

	.inner {
		display: block;
		padding: 10px;
	}
}

section {
	padding: 10px 0;

	&.blocks-container {
		padding: 0 20px;
	}

	&.col-6 {
		display: inline-block;
		width: 50%;
		float: left;

		.inner {
			padding: 0 10px;

			.component-config {
				display: none;

				&.active {
					display: block;
				}

				.form-item {
					margin: 10px;
					position: relative;


					input {
						border: 0;
						padding: 5px;
						margin: 5px 10px;
						width: 95%;
					}

				}
			}

			ul {

				&.page-canvas {
					padding: 10px;
					width: 98%;
					border: 2px dashed #ddd;
					font-size: 12px;
					border-radius: 5px;
					background: #fcfcfc;

					li {
						list-style-type: none;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;     
						position: relative;
						z-index: 99;
						

						&.block {
							color: #aaa;
							width: 100%;
							height: 40px;
							font-size: 11px;
							font-weight: 700;
							line-height: 40px;
							text-align: center;
							text-transform: uppercase;
							background: #eee;
							border-radius: 2px;
							border: 1px solid #ddd;
							margin: 0 0 10px 0;
							position: relative;

							i {
								position: absolute;
								left: 10px;
								top: 14px;
							}


							&:last-child {
								margin: 0;
							}

							&.locked {
								cursor: not-allowed;

								i {
									display: none;
								}
							}
						}
					}
				}

			}

			a.save-item,
			button.save-item,
			button.add-item,
			a.add-item {
				cursor: pointer;
				font-size: 12px;
				padding: 5px 15px;
				margin: 10px 0 0 0;
				color: #fff;
				background: $primary;
				border: 1px solid $primary;
				display: inline-block;
				text-decoration: none;

				&.m-r-10 {
					margin-right: 10px;
				}

				&.p-l-10 {
					margin: 10px 0 5px 10px;
				}

				&.right {
					float: right;
				}

				&:hover,
				&:focus {
					background: #fff;
					border: 1px solid $primary;
					color: $primary;
				}
			}

			.form-item {
				padding: 10px 5px 5px 0px;
				border: 1px solid #C4CBD1;
				border-radius: 2px;
				position: relative;
				margin-bottom: 10px;

				&.validate {
					border-color: #e74c3c;
				}

				span.required {
					position: absolute;
				    top: 9px;
				    right: 15px;
				    color: #e74c3c;
				}

				&.new-component {

					&:first-child {
						display: none;
					}
				}

				&:hover,
				&:focus {
					border-color: $primary;
				}

				label {
					font-size: 10px;
					padding: 0 10px;
					text-transform: uppercase;
					font-weight: 600;
					display: block;
				}


				.select {
					position: relative;
					display: inline-block;

					select {
						margin: 10px 0 5px 10px;
						display: block;
						border: 1px solid #C4CBD1;
						appearance: none;
						-webkit-appearance: none;
						border-radius: 0;
						padding: 8px 35px 8px 10px;
						outline: 0;


					}

					i.chevron {
						position: absolute;
						top: 21px;
						font-size: 12px;
						right: 9px;
					}
				}

				small {
					padding: 0px 10px;
					display: block;
					margin: 10px 0;
					font-size: 10px;
					color: #999;

					a {
						color: $primary;
					}
				}

				.add-new {
					border: 0;
					margin: 0;
					padding: 8px 10px 5px 10px;
					border-radius: 4px;
				}

			}

			h2 {
				font-size: 20px;
				padding: 0 10px 0 0;

				a {
					&.add-new {
						position: relative;
						top: 8px;
						float: right;
						font-weight: 500;
						font-size: 14px;
						color: $primary;
					}
				}
			}
			
			p {
				font-size: 13px;
				letter-spacing: 0.2;
			}

			input {
				outline: 0;

				&.add-new {
					padding: 10px;
					width: 100%;
					border: 1px solid #C4CBD1;
					border-radius: 2px;
					font-size: 13px;
				}
			}

			ul {
				&.list {
					list-style-type: none;
					padding: 0;
					margin: 0;

					li {
						padding: 0 0 15px 5px;
						border-bottom: 1px solid #eee;

						p {
							font-weight: 600;
							margin-bottom: 0;

							a {
								color: inherit;
								text-decoration: none;

								&:hover {
									color: $primary;
								}
							}
						}

						small {
							color: #999;
							font-size: 10px;
							
							i {
								font-size: 20px;
							}

							span {
								float: right;
							}
						}
					}
				}
			}

		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;

	.inner {

		padding: 15px 30px;

		img {
			position: relative;
			float: right;
			opacity: 0.3;
		}

		p {
			color: #aaa;
			font-size: 11px;

			a {
				color: #999;
			}
		}
	}
}