{% include "layout/header.twig" %}
{% include "component/header.twig" %}

    <div class="columns page-content">
    	<div class="column is-1"></div>
		<div class="column is-7">
			<section class="section">
				<div class="container">
					{% block body %}{% endblock %}
				</div>
			</section>
		</div>
		<div class="column is-1"></div>
		<div class="column">
			<section class="section">
				<div class="container">
					{% block sidebar %}{% endblock %}
				</div>
			</section>
		</div>
	</div>
{% include "layout/footer.twig" %}