{% extends "layout.twig" %}
{% block body %}

	<section class="col-6">
		<div class="inner">
			<h2>Pages <a href="pages/new" class="add-new ion-plus"></a></h2>

			<form method="get" action="pages/new">
				<input class="add-new" name="name" type="text" placeholder="New page name.."/>
			</form>
			<ul class="list">
				{% for page in pages %}
					<li>
						<i class=""></i>
						<p><a href="#">{{page.page.title}}</a></p>
						<small>{{page.page.url}} <span>Status: {{page.page.published|capitalize}}</span></small>
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>

	<section class="col-6">
		<div class="inner">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

{% endblock %}